<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: ${project.display_name}</title>
</head>

<body>

${project_sidebar()}
<div id="content">
    <div id="project_header">
        <h1>${project.display_name}</h1> 
    </div>
    <div id="project_info">
        <p>${project.desc}</p>
        <b>Owner:</b> <a href="${tg.url('/user/%s' % project.user.user_name)}">${project.user}</a><BR />
        <b>Group:</b> <span py:if="project.group"><a href="${tg.url('/group/%s' % project.group.group_name)}">${project.group.display_name}</a></span><BR />
        <b>Home Page:</b> <a href="${project.url}">${project.url}</a><BR />
    </div>
    <div id="project_products">
        <BR />
        <h2>Available Products</h2>
        <span py:for="p in project.products">
            ${p.display_name} <BR />
            <ul>
                <span py:for="r in p.releases">
                    <li> ${r.display_name} <BR /></li> 
                </span>
            </ul>
        </span>
    </div>
    <div id="upstream_mirrors">
        <BR />
        <a name="upstream_mirrors"></a>
        <h2>Official Upstream Source Mirrors</h2>
        <div id="host_list">
            <ul>
                <span py:for="host in project.hosts"> 
                    <li> <img src="${tg.url('/themes/%s/_img/flags/%s.png' % (tg.config['theme'], host.country_code.lower()))}" /> <a href="${tg.url('/host/%s/' % host.address)}">${project.sync_protocol.label}://${host.address}${project.sync_base_path}</a> </li>
                </span>
            </ul>
        </div>
    </div>
    <div id="downstream_mirrors">
        <BR />
        <a name="downstream_mirrors"></a>
        <h2>Downstream Mirror Servers</h2>
        <div id="host_list">
            <ul>
                <span py:for="site in project.sites"> 
                    <span py:for="host in site.hosts"> 
                        <li> <img src="${tg.url('/themes/%s/_img/flags/%s.png' % (tg.config['theme'], host.country_code.lower()))}" /> <a href="http://${host.address}${project._sync_path(site.id)}">http://${host.address}${project._sync_path(site.id)}</a> - [ <a href="${tg.url('/host/%s/' % host.address)}">view</a> ] </li>
                    </span>
                </span>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
