{% extends 'accounts/base_accounts.html' %}

{% block content_title %}<h2>{{ user.profile.display_name }} // Groups</h2>{% endblock %}

{% block content_body %}
    <h3>{{ group.name }} <small><a href="{% url update_group group.id %}" class="update">###</a></small></h3>
    <h4>Users {% if group in user.profile.managed_groups %}<a href="{% url add_user_to_group group.id %}" class="add">###</a>{% endif %}</h4>
    <ul>
        {% for user in group.user_set.all %}
            <li> {{ user.profile.display_name }} {% if group in user.profile.managed_groups %}<a href="{% url remove_user_from_group group.id %}?user={{ user.username }}" class="delete">###</a>{% endif %}</i>
        {% endfor %}
    </ul>
    
{% endblock %}

