{% extends 'accounts/base_accounts.html' %}

{% block content_title %}<h2>{{ user.profile.display_name }} // Groups</h2>{% endblock %}

{% block content_body %}
    <h3>Group Details</h3>
    <form action="{% url update_group group.id %}" method="POST" class="form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Group" class="btn primary"/>
        <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
    </form>
    
    <!-- FIX ME need a call out warning block -->
    <div id="delete-box">
        <h3>Group Deletion</h3>
        <p>If you are absolutely sure that you want to delete {{ project.display_name }} and <b>all of its associated data</b>, do so by clicking the big scary red button.</p>
        <p><a href="{% url delete_group group.id %}" class="btn danger pull-right" onclick="javascript:return confirm('Forever delete {{ group.name }}?');">Delete Group</a></p>
    </div>    
{% endblock %}

