<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: New Product Release</title>
</head>

<body>
${project_sidebar()}
<div id="content">
    <div id="release_header">
        <h1>${release.display_name}</h1>
    </div>
    <div id="edit_release_form">
        <form name="edit_release" action="${tg.url('/product_release/%s?_method=PUT' % release.id)}" method="POST">
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>For Project</label>
                    </td>
                    <td>
                        <a href="${tg.url('/project/%s/edit#products' % release.product.project.label)}">${release.product.project.display_name}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>of Product</label>
                    </td>
                    <td>
                        <input type="hidden" name="product_label" value="${release.product.label}" />
                        <a href="${tg.url('/product/%s' % release.product.label)}">${release.product.display_name}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Label</label>
                    </td>
                    <td>
                        <input type="text" name="label" value="${release.label}" /> <i>all one word, no spaces though underscores are allowed</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Display Name</label>
                    </td>
                    <td>
                        <input type="text" name="display_name" value="${release.display_name}" size="35" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <textarea name="desc" rows="5" cols="64">${release.desc}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Path</label>
                    </td>
                    <td>
                        <input type="text" name="path" size="35" value="${release.path}" /> <i>path from base path on master rsync server</i>
                    </td>
                </tr>
                <tr><td><BR /></td></tr>
                <tr valign="top">
                    <td>
                        Archs
                    </td>
                    <td>
                        
                        <span py:for="a in all_archs">
                            <div py:choose="">
                                <span py:when="a in release.archs">
                                    <input type="checkbox" name="archs" value="${a.id}" checked="true" />${a.label}
                                </span>
                                <span py:otherwise="">
                                    <input type="checkbox" name="archs" value="${a.id}" />${a.label}
                                </span>
                            </div>    
                        </span>
                    </td>
                </tr>
                <tr><td><br /><br /></td></tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="_submit" value="Save Release" /> <input type="button" name="cancel" value="Cancel" onClick="history.back();"/>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>
