<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="functions.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: ${release.display_name}</title>
</head>

<body>

<div id="content">
    <div id="project_header">
        <h1>${release.display_name}</h1> 
    </div>
    <div id="project_info">
        ${release.desc}
        <BR />
        <b>Owner:</b> ${release.product.project.user}<BR />
        <b>Group:</b> <span py:if="release.product.project.group">${release.product.project.group.display_name}</span><BR />
        <b>Upstream Source:</b> rsync://${release.product.project.upstream_host}${release.product.project.upstream_path}/${release.path}<BR />
        <b>Arch:</b> ${release.arch.label}
    </div>
</div>
</body>
</html>
