{% extends "projects/base_projects.html" %}
{% load guardian_tags %}

{% block title %}{{ project.display_name }}{% endblock %}

{% block project_nav %}
    {% get_obj_perms user for project as "project_perms" %}

    {% if "change_project" in project_perms %}
        <li> <a href="{% url update_project project.label %}">{{ project.display_name }} Settings</a></li>
    {% endif %}
{% endblock %}

{% block content_title %}<h2>Projects &raquo; {{ project.display_name }}</h2>{% endblock %}
{% block content_body %}
    {% get_obj_perms user for project as "project_perms" %}
    
    <h3><b>Description</b></h3>
    <p>{{ project.description }}</p>
    <p><b>ID:</b> {{ project.id }}</p>
    <p><b>Website:</b> <a href="{{ project.url }}">{{ project.url }}</a></p>
    
    <h3>Repositories {% if "change_project" in project_perms %}<a href="{% url create_repo project.label %}" class="add">###</a>{% endif %}</h3>
    <ul>
        {% for repo in project.repos.all %}
            {% if "change_project" in project_perms %}
                <li> {{ repo.display_name }} <a href="{% url update_repo project.label repo.label %}" class="update">###</a> <a href="{% url delete_repo project.label repo.label %}" onclick="return confirm('Forever delete {{ repo.label }}?')" class="delete">###</a></li>
            {% else %}
                <li> {{ repo.display_name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

