{% extends "projects/base_projects.html" %}
{% block title %}Edit a Project{% endblock %}

{% block content_title %}<h2>Projects &raquo; {{ project.display_name }}</h2>{% endblock %}

{% block content_body %}
    <h3>Project Details</h3>
    <form action="{% url update_project project.label %}" method="POST" class="form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save {{ project.display_name }}" class="btn primary"/>
        <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
    </form>
    
{% endblock %}

