{% extends "projects/base_projects.html" %}
{% block title %}Edit a Project{% endblock %}

{% block content_title %}<h2>Projects &raquo; {{ project.display_name }}</h2>{% endblock %}

{% block content_body %}
    <h3>Project Details</h3>
    <form action="{% url update_project project.label %}" method="POST" class="form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save {{ project.display_name }}" class="btn primary"/>
        <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
    </form>
    
    <!-- FIX ME need a call out warning block -->
    <div id="delete-box">
        <h3>Project Deletion</h3>
        <p>If you are absolutely sure that you want to delete {{ project.display_name }} and <b>all of its associated data</b>, do so by clicking the big scary red button.</p>
        <p><a href="{% url delete_project project.label %}" class="btn danger pull-right" onclick="javascript:return confirm('Forever delete {{ project.display_name }}?');">Delete Project</a></p>
    </div>
{% endblock %}

