<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: ${host.address}</title>
</head>

<body>

${host_sidebar()}
<div id="content">
    <div id="host_header">
        <h1><img src="${tg.url('/themes/%s/_img/flags/%s.png' % (tg.config['theme'], host.country_code.lower()))}" /> ${host.address}</h1> 
    </div>
    <div id="host_info">
        <b>Owner:</b> <a href="${tg.url('/user/%s' % host.user.user_name)}">${host.user}</a><BR />
        <b>Group:</b> <span py:if="host.group"><a href="${tg.url('/group/%s' % host.group.group_name)}">${host.group.display_name}</a></span><BR />
        <BR />
    </div>
    <div id="host_geoip_data">
        <h2>GeoIP Data</h2>
        <b>City:</b> ${host.city}<BR />
        <b>Region:</b> ${host.region_name}<BR />
        <b>Country:</b> ${host.country_name}<BR />
        <b>Longitude:</b> ${host.longitude}<BR />
        <b>Latitude:</b> ${host.latitude}<BR />
    </div>
    
    <div id="host_projects">
        <BR />
        <h2>Associated Projects</h2>
        <ul>
            <span py:for="project in host.projects">
                <li> <a href="${tg.url('/project/%s' % project.label)}">${project.display_name}</a> </li>
            </span>
        </ul>
    </div>
    
    <div id="host_sites">
        <BR />
        <h2>Associated Mirror Sites</h2>
        <ul>
            <span py:for="site in host.sites">
                <li> <a href="${tg.url('/site/%s' % site.label)}">${site.display_name}</a> </li>
            </span>
        </ul>
        
    </div>
</div>
</body>
</html>
