{% extends "protocols/base_protocols.html" %}
{% block title %}dMirr Protocols{% endblock %}

{% block content_body %}
    {% if perms.protocols.add_protocol %}
        <div class="pull-right" style="padding-right: 10px;">
            <a href="{% url create_protocol %}" class="btn success">New Protocol</a>
        </div>
    {% endif %}
    
    <ul>
        {% for protocol in protocols %}
            <li> {{ protocol.label }} {% if perms.protocols %}<a href="{% url update_protocol protocol.label %}" class="update">###</a>{% endif %}</li>
        {% endfor %}
    </ul>
{% endblock %}

