{% extends "protocols/base_protocols.html" %}
{% block title %}Edit an Protocol{% endblock %}

{% block content_body %}
    <h3>Settings</h3>
    <form action="{% url update_protocol protocol.label %}" method="POST" class="form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Protocol" class="btn primary"/>
        <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
    </form>

    <!-- FIX ME need a call out warning block -->
    <div id="delete-box">
        <h3>Protocol Deletion</h3>
        <p>If you are absolutely sure that you want to delete {{ protocol.label }} and <b>all of its associated data</b>, do so by clicking the big scary red button.</p>
        <p style="padding-right: 10px;"><a href="{% url delete_protocol protocol.label %}" class="btn danger pull-right" onclick="javascript:return confirm('Forever delete {{ protocol }}?');">Delete Protocol</a></p>
    </div>
{% endblock %}

