<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: New Host Server</title>
</head>
<!-- 
        s = host()
        s.label = kw.get('label', None)
        s.display_name = kw.get('display_name', None)
        s.desc = kw.get('desc', None)
        s.url = kw.get('url', None)
        s.contact_name = kw.get('contact_name', None)
        s.contact_email = kw.get('contact_email', None)
        s.user = request.identity['user']
        s.group = group
-->
<body>
<div id="content">
    <div id="host_header">
        <h1>Create a Host Server</h1>
    </div>
    <div id="new_host_form">
        <form name="new_host" action="${tg.url('/host')}" method="POST">
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <input type="text" name="address" value="${host.address}" /> <i>Must be a hostname, not an IP Address</i>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2>Grant Group Ownership</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Group</label>
                    </td>
                    <td>
                        <select name="group_name">
                            <option value="dmirr_no_group">No Group Ownership</option>
                            <span py:for="g in request.identity.user.groups">
                                <div py:choose="">
                                    <span py:when="g.group_id == host.group.group_id">
                                        <option value="${g.group_name}" selected="true">${g.display_name}</option>
                                    </span>
                                    <span py:otherwise="">
                                        <option value="${g.group_name}">${g.display_name}</option>
                                    </span>
                                </div>
                            </span>
                        </select>
                    </td>
                </tr>
                <tr><td><br /><br /></td></tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="_submit" value="Create host" /> <input type="button" name="cancel" value="Cancel" onClick="history.back();"/>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>
