{% extends "systems/base_systems.html" %}
{% block content_title %}<h2>{{ user.profile.display_name }} // Systems</h2>{% endblock %}

{% block content_body %}
    {% if perms.systems.add_system %}
        <div class="pull-right" style="padding-right: 10px;">
            <a href="{% url create_system %}" class="btn success">New System</a>
        </div>
    {% endif %}
    
    <div>
        <ul>
            {% for system in user.profile.systems %}
                <li> <a href="{% url show_system system.label %}">{{ system.label }}</a> <a href="{% url update_system system.label %}" class="update">###</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}