{% extends "systems/base_systems.html" %}
{% block title %}Edit an System{% endblock %}

{% block content_body %}
    <h3>Details</h3>
    <form action="{% url update_system system.label %}" method="POST" class="form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save System" class="btn primary"/>
        <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
    </form>
    <!-- FIX ME need a call out warning block -->
    <div id="delete-box">
        <h3>System Deletion</h3>
        <p>If you are absolutely sure that you want to delete {{ system.label }} and <b>all of its associated data</b>, do so by clicking the big scary red button.</p>
        <p style="padding-right: 10px;"><a href="{% url delete_system system.label %}" class="btn danger pull-right" onclick="javascript:return confirm('Forever delete {{ system.label }}?');">Delete System</a></p>
    </div>
{% endblock %}

