{% extends "base.html" %}
{% load i18n %}

{% block content_title %}<h2>Accounts // {{ user.profile.display_name }}</h2>{% endblock %}
{% block content_sidebar %}
    {% if user.is_authenticated %}
        <h3>Navigation</h3>
            <li><a href="{% url projects_index %}">Manage Projects</a></li>
            <li><a href="{% url systems_index %}">Manage Systems</a></li>
            <li><a href="{% url groups_index %}">Manage Groups</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url archs_index %}">Manage Archs</a></li>
                <li><a href="{% url protocols_index %}">Manage Protocols</a></li>
            {% endif %}
            
        <h3>My Account</h3>
        <ul>
            <li><a href="{% url userena_profile_detail user.username %}">{% trans "View my profile" %}</a></li>
            <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit my profile" %}</a></li>
            <li><a href="{% url userena_password_change user.username %}">{% trans "Change my password" %}</a></li>
            <li><a href="{% url userena_email_change user.username %}">{% trans "Change my email" %}</a></li>
            <li><a href="{% url show_api_key user.username %}">{% trans "API Access" %}</a></li>
            {% block accounts_nav %}{% endblock %}
        </ul>
    {% endif %}
{% endblock %}