{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_body %}
<form action="" method="post" id="password_change_form" class="form-stacked">
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="Submit" class="btn primary" />
  <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>
</form>
{% endblock %}
