{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_body %}

<form action="" enctype="multipart/form-data" method="post" class="form-stacked">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {{ form.as_p }}
  </fieldset>
    <input type="submit" value="{% trans "Save Account" %}" class="btn primary" />
  <input type="button" value="Cancel" class="btn secondary" onclick="javascript:history.back(1)"/>

</form>
{% endblock %}
