<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
</head>

<body>
<div id="content">
    <h1>dMirr version ${version}</h1>
    
    dMirr is a distributed mirror server manager.   It's purpose is to organize 
    data for upstream projects needing global mirror servers, and the generous
    sites willing to help mirror those projects.  
    <BR /><BR />
    <h2>Features</h2>
    <ul>
        <li> Yum "mirror list" interface.  Closest match ordered via geoip location</li>
        <li> RESTful web framework using Apache, WSGI, and TurboGears 2</li>
    </ul>
    <BR />
    <h2>Support</h2>
    <ul>
        <li> <a href="http://github.com/derks/dmirr/issues">http://github.com/derks/dmirr/issues</a></li>
    </ul>
    <BR />
    <h2>Licensing</h2>
    <pre>
    dMirr is a distributed mirror server manager
    Copyright (C) 2009 BJ Dierkes &lt;wdierkes@rackspace.com&gt;

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see &lt;http://www.gnu.org/licenses/&gt;.
    </pre>
</div>
</body>
</html>

