<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="navigation_sidebar">
  <div id="sb_top" class="sidebar">
      <h2>Navigation</h2>
      <ul class="navigation_sidebar_links">
        <li><a href="${tg.url('/dashboard/')}">My Dashboard</a></li>  
            <ul class="navigation_sub_links">
                <li><a href="${tg.url('/project/new')}">Create a Project</a></li>
                <li><a href="${tg.url('/site/new')}">Create a Mirror Site</a></li>
                <li><a href="${tg.url('/host/new')}">Create a Host Server</a></li>
                <li><a href="${tg.url('/group/new')}">Create a Group</a></li>
                <li><a href="${tg.url('/user/%s/edit' % request.identity['user'].user_name)}">Edit Account Settings</a></li>
            </ul>
      </ul>
  </div>
</py:def> 

<py:def function="project_sidebar">
    <span py:if="request.identity">
    <span py:if="project.group in request.identity.user.groups or project.user.user_id == request.identity.user.user_id">
        <div id="sb_bottom" class="sidebar">
            <h2>${project.display_name}</h2>
            <ul class="project_sidebar_links">
                <li><a href="${tg.url('/project/%s' % project.label)}">Public View</a></li>
                <li><a href="${tg.url('/project/%s/edit' % project.label)}">Edit Project Details</a></li>
                <li><a href="${tg.url('/project/%s/delete' % project.label)}">Delete This Project</a></li>
            </ul>
        </div>
    </span>
    </span>
</py:def> 

<py:def function="site_sidebar">
    <span py:if="request.identity">
    <span py:if="site.group in request.identity.user.groups or site.user.user_id == request.identity.user.user_id">
        <div id="sb_bottom" class="sidebar">
            <h2>${site.display_name}</h2>
            <ul class="site_sidebar_links">
                <li><a href="${tg.url('/site/%s/edit' % site.label)}">Edit Site Details</a></li>
                <li><a href="${tg.url('/site/%s/delete' % site.label)}">Delete This Site</a></li>
            </ul>
        </div>
    </span>
    </span>
</py:def> 

<py:def function="user_sidebar">
    <span py:if="request.identity">
        <span py:if="user.user_id == request.identity.user.user_id or 'dmirr_admin' in request.identity.groups">
            <span py:if="page == 'user'">
                <div id="sb_bottom" class="sidebar">
                    <h2>${user.display_name}</h2>
                    <ul class="user_sidebar_links">
                        <li><a href="${tg.url('/user/%s' % user.user_name)}">Public View</a></li>
                        <li><a href="${tg.url('/user/%s/edit' % user.user_name)}">Edit User Details</a></li>
                        <li><a href="${tg.url('/user/%s/delete' % user.user_name)}">Delete This User</a></li>
                    </ul>
                </div>
            </span>
        </span>
    </span>
</py:def> 

<py:def function="group_sidebar">
    <span py:if="request.identity">
        <span py:if="group.owner.user_id == request.identity.user.user_id or 'dmirr_admin' in request.identity.groups">
            <span py:if="page == 'group'">
                <div id="sb_bottom" class="sidebar">
                    <h2>${group.display_name}</h2>
                    <ul class="group_sidebar_links">
                        <li><a href="${tg.url('/group/%s' % group.group_name)}">Public View</a></li>
                        <li><a href="${tg.url('/group/%s/edit' % group.group_name)}">Edit Group Details</a></li>
                        <li><a href="${tg.url('/group/%s/delete' % group.group_name)}">Delete This Group</a></li>
                    </ul>
                </div>
            </span>
        </span>
    </span>
</py:def> 

<py:def function="host_sidebar">
    <span py:if="request.identity">
    <span py:if="host.group in request.identity.user.groups or host.user.user_id == request.identity.user.user_id">
        <div id="sb_bottom" class="sidebar">
            <h2>${host.address}</h2>
            <ul class="host_sidebar_links">
                <li><a href="${tg.url('/host/%s/edit' % host.address)}">Edit Host Details</a></li>
                <li><a href="${tg.url('/host/%s/delete' % host.address)}">Delete This Host</a></li>
            </ul>
        </div>
    </span>
    </span>
</py:def> 
</html>
