<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: ${page_title}</title>
</head>

<body>

<h1>${page_title}</h1>

<div py:choose="">
    <span py:when="page == 'user'">
        <ul>
            <span py:for="user in users">
                <li><a href="${tg.url('/user/%s' % user.user_name)}">${user.display_name}</a></li>
            </span>        
        </ul>
    </span>
    <span py:when="page == 'group'">
        <ul>
            <span py:for="group in groups">
                <li><a href="${tg.url('/group/%s' % group.group_name)}">${group.display_name}</a></li>
            </span>        
        </ul>
    </span>
    <span py:when="page == 'project'">
        <ul>
            <span py:for="project in projects">
                <li><a href="${tg.url('/project/%s' % project.label)}">${project.display_name}</a></li>
            </span>        
        </ul>
    </span>
</div>
</body>
</html>
