<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: ${page_title}</title>
</head>

<body>

<h1>${page_title}</h1>

<div py:choose="">
    <span py:when="page == 'user'">
        ${user_sidebar()}
        <div py:replace="tmpl_context.form(
            value=dict(user_id=user.user_id,
                       user_name=user.user_name,
                       email_address=user.email_address,
                       display_name=user.display_name,
                       password='xxxxxxxxxxxx',
                       confirm_password='xxxxxxxxxxxx',
                       about=user.about,
                ))">Input Form</div>
    </span>
    <span py:when="page == 'group'">
        ${group_sidebar()}
        <div py:replace="tmpl_context.form(
            value=dict(group_id=group.group_id,
                       group_name=group.group_name,
                       display_name=group.display_name,
                ))">Input Form</div>
        <BR />
        <h2>Group Members</h2>
        <ul>
            <span py:for="user in group.users">
                <li><a href="${tg.url('/user/%s' % user.user_name)}">${user.display_name}</a> [ <a href="${tg.url('/group/unassign_user/%s/%s' % (group.group_id, user.user_id))}">remove</a> ]</li>
            </span>
        </ul>
        <BR />
        <div py:replace="tmpl_context.form2(
            value=dict(group_id=group.group_id))">Input Form</div>        

    </span>
</div>
</body>
</html>
