<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>dMirr :: Edit ${site.display_name}</title>
</head>

<body>
${site_sidebar()}
<div id="content">
    <div id="site_header">
        <h1>${site.display_name}</h1>
    </div>
    <div id="edit_site_form">
        <form name="edit_site" action="${tg.url('/site/%s?_method=PUT' % site.label)}" method="POST">
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Owner</label>
                    </td>
                    <td>
                        <a href="${tg.url('/user/%s' % site.user.user_name)}">${site.user.display_name}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Label</label>
                    </td>
                    <td>
                        <input type="text" name="label" value="${site.label}" /> <i>all one word, no spaces though underscores are allowed</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Display Name</label>
                    </td>
                    <td>
                        <input type="text" name="display_name" value="${site.display_name}" size="35" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <textarea name="desc" rows="5" cols="64">${site.desc}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Home Page URL</label>
                    </td>
                    <td>
                        <input type="text" name="url" size="35" value="${site.url}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Contact Name</label>
                    </td>
                    <td>
                        <input type="text" name="contact_name" size="35" value="${site.contact_name}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Contact Email</label>
                    </td>
                    <td>
                        <input type="text" name="contact_email" size="35" value="${site.contact_email}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Sync Base Path</label>
                    </td>
                    <td>
                        <input type="text" name="sync_base_path" size="20" value="${site.sync_base_path}" /> <i>path on downstream servers where data starts (i.e. '/pub/')</i>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2>Grant Group Ownership</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Group</label>
                    </td>
                    <td>
                        <select name="group_name">
                            <option value="dmirr_no_group">No Group Ownership</option>
                            <span py:for="g in request.identity.user.groups">
                                <div py:choose="">
                                    <span py:when="g.group_id == site.group.group_id">
                                        <option value="${g.group_name}" selected="true">${g.display_name}</option>
                                    </span>
                                    <span py:otherwise="">
                                        <option value="${g.group_name}">${g.display_name}</option>
                                    </span>
                                </div>
                            </span>
                        </select>
                    </td>
                </tr>
                <tr><td><br /><br /></td></tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="_submit" value="Save ${site.display_name}" /> <input type="button" name="cancel" value="Cancel" onClick="history.back();"/>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <div id="projects">
            <BR />
            <a name="mirrored_projects"></a>
            <h2>Projects Mirrored by ${site.display_name}</h2>
            <div id="project_list">
                <ul>
                    <span py:for="project in site.projects"> 
                        <li> <a href="${tg.url('/project/%s/' % project.label)}">${project.display_name}</a>  sync_path: ${project._sync_path(site.id)} - [<a href="${tg.url('/site/unassign_project/%s/%s' % (site.id, project.id))}">remove</a>]</li>
                    </span>
                </ul>
            </div>
            <form name="add_project_form" action="${tg.url('/site/assign_project?site_id=%s' % site.id)}" method="POST" >
                <select name="project_id">
                    <span py:for="project in all_projects">
                        <option value="${project.id}">${project.display_name}</option>
                    </span>
                </select> 
                <input type="text" name="sync_path" value="${site.sync_base_path}" />
                <input type="submit" name="submit" value="add" />
            </form>
        </div>
        <div id="downstream_mirrors">
            <BR />
            <a name="downstream_mirrors"></a>
            <h2>Downstream Mirror Servers</h2>
            <div id="host_list">
                <ul>
                    <span py:for="host in site.hosts"> 
                        <li> <img src="${tg.url('/themes/%s/_img/flags/%s.png' % (tg.config['theme'], host.country_code.lower()))}" /> <a href="${tg.url('/host/%s/' % host.address)}">http://${host.address}${site.sync_base_path}</a>  - [<a href="${tg.url('/site/unassign_host/%s/%s' % (site.id, host.id))}">remove</a>]</li>
                    </span>
                </ul>
            </div>
            <form name="add_host_form" action="${tg.url('/site/assign_host?site_id=%s' % site.id)}" method="POST" >
                <select name="host_id">
                    <span py:for="host in all_hosts">
                        <option value="${host.id}">${host.address}</option>
                    </span>
                </select> 
                <input type="submit" name="submit" value="add" />
            </form>
        </div>
    </div>
</div>
</body>
</html>
